
@{
    //ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container" style="background-color:aliceblue">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header" ><h3 class="text-center font-weight-light my-4">Sipariş Ekleme</h3></div>
                    <div class="card-body">
                        <form action="/Order/AddOrder" method="post" role="form">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputFirstName">Sipariş Tarihi</label>
                                    <div class="form-floating mb-3">
                                        <div class="form-floating mb-3 mb-md-0">
                                            <input class="form-control" id="inputFirstName" type="datetime" name="OrderDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputFirstName">Sipariş Ücreti</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="number" name="Freight" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputFirstName">Alıcı Adı</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="ShipName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputFirstName">Alıcı Ülkesi</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="ShipCountry" />
                                    </div>
                                </div>
                            </div>



                            <label for="inputFirstName">Müşteri Şirketini Seçiniz</label>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select name="CustomerID" style="width: 100%; height: 3rem">
                                        @foreach (MVCNorthWindn.Models.Customer customer in (List<MVCNorthWindn.Models.Customer>)ViewBag.Customer)
                                        {
                                            <option value="@customer.CustomerID">@customer.CompanyName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <label for="inputFirstName">Nakliye Firması Seçiniz</label>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select name="SHİpperID" style="width: 100%; height: 3rem">
                                        @foreach (MVCNorthWindn.Models.Shipper shipper in (List<MVCNorthWindn.Models.Shipper>)ViewBag.Shipper)
                                        {
                                            <option value="@shipper.ShipperID">@shipper.ShipperID</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <label for="inputFirstName">Çalışan Kişiyi Seçiniz</label>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <select name="EmployeeID" style="width: 100%; height: 3rem">
                                        @foreach (MVCNorthWindn.Models.Employee employee in (List<MVCNorthWindn.Models.Employee>)ViewBag.Employe)
                                        {
                                            <option value="@employee.EmployeeID">@employee.FirstName@employee.LastName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Ekle</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>