
@{
    //ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">~ KUZEY YELİ VERİLERİ ~</h3>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                SİPARİŞ DETAYLARI
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Ürün Id</th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                            <th>İndirim</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order Id</th>
                            <th>Ürün Id</th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                            <th>İndirim</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (AreaNorthWind.Models.Order_Detail orderDetail in ViewBag.OrderDetails)
                        {
                        <tr>
                            <td>@orderDetail.OrderID</td>
                            <td>@orderDetail.Product.ProductID</td>
                            <td>@orderDetail.Product.ProductName</td>
                            <td>@orderDetail.UnitPrice</td>
                            <td>@orderDetail.Quantity</td>
                            <td>@orderDetail.Discount</td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">@*Copyright &copy; Your Website 2022*@</div>
            <div>
                @*<a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>*@
            </div>
        </div>
    </div>
</footer>
