@model NWProduct.Models.Product


<h2>Details</h2>

<div>
    <ul>
        <li>Urun Id: @Model.ProductID</li>
        <li>Urun Adı: @Model.ProductName</li>
        <li>@Model.UnitPrice</li>
        <li>@Model.UnitsInStock</li>
        <li>@Model.UnitsOnOrder</li>
       
    </ul>
</div>