@model MVCMail.Models.Register

@{
    ViewBag.Title = "Index";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<div id="contentContainer" class="container">
    <div class="row">
        <div id="realContent" class="col-xs-12">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-sm-offset-0">
                    <h1>Kayıt Olun</h1>
                </div>
            </div>
            <div class="row">
                <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-sm-offset-0">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Hoş Geldiniz...</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Instructions -->
                                    <div class="col-xs-12">

                                        <ul class="list-unstyled" style="line-height: 3; font-size: 1.4em; font-weight: 500;">
                                            <li><span class="fa fa-check text-success"></span> Bilgileriniz Doldurun</li>
                                            <li><span class="fa fa-check text-success"></span> Kaydete Basın</li>
                                            <li><span class="fa fa-check text-success"></span> Mailinize Gelen Linke Tıklayın</li>
                                            <li><span class="fa fa-check text-success"></span> Giriş Yapın</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Registration Form -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        @*<form id="signupForm" method="post" accept-charset="UTF-8" validate>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-secret icon-2x"></i></i></span>
                <input id="name" class="form-control input-lg" placeholder= @Html.DisplayNameFor(x => x.Username) maxlength="100" type="text" name="name">
                <div>

                    @Html.ValidationMessageFor(x => x.Username)
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })

                </div>



            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-user icon-2x"></i></span>
                <input id="handle" class="form-control input-lg" placeholder="Username" maxlength="100" type="text" name="handle">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-envelope icon-2x"></i></span>
                <input id="email" class="form-control input-lg" placeholder="Email" maxlength="100" type="email" name="email" validate>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-asterisk icon-2x"></i></span>
                <input id="password" class="form-control input-lg" placeholder="Password" maxlength="60" type="password" name="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-asterisk icon-2x"></i></span>
                <input id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" maxlength="60" type="password" name="password_confirmation">
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LdJRxETAAAAABZT0MUNO1r5at_-JuSGeAPTqIM6"></div>
            </div>
            <div class="form-group">
                <button type="submit" id="btn-signup" class="btn btn-block btn-primary btn-lg">Kaydet</button>
            </div>
        </form>*@
                                        @if (TempData["error"] != null)
                                        {
                                            <div>
                                                <h5>@TempData["error"]</h5>
                                            </div>
                                        }

                                        <form method="post">
                                            <div>
                                                @Html.DisplayNameFor(x => x.FullName)
                                                @Html.ValidationMessageFor(x => x.FullName)
                                                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })

                                            </div>
                                            <div>
                                                @Html.DisplayNameFor(x => x.Username)
                                                @Html.ValidationMessageFor(x => x.Username)
                                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })

                                            </div>
                                            <div>
                                                @Html.DisplayNameFor(x => x.Email)
                                                @Html.ValidationMessageFor(x => x.Email)
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                            </div>
                                            <div>
                                                @Html.DisplayNameFor(x => x.Password)
                                                @Html.ValidationMessageFor(x => x.Password)
                                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                                            </div>
                                            <button type="submit" style="margin-top:30px;">Kaydet</button>
                                        </form>
                                        @*<div class="form-group">
            <div class="topCushion">Already a member? <a href="#">Login</a></div>
        </div>*@
                                    </div>
                                    <!-- /.col-xs-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.col-sm-6 col-xs-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.well well-lg -->
                </section>
                <!-- /.col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-sm-offset-0 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#realContent -->
    </div>
    <!-- /.row -->
</div>

<!-- /#contentContainer -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>
<script src="~/Scripts/Site.js"></script>*@

