@model List<AreaNorthWind.Models.Order>
@{
    //ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">@ViewBag.Title</h1>
        @*<ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="~/Staff/home/index">Kuzey Yeli</a></li>
            <li class="breadcrumb-item active">Sipariş Tabloları</li>
        </ol>*@
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Sipariş Listesi
            </div>
            <div class="card-body">
                <a class="btn btn-primary float-end ms-3" href="~/Staff/Order/AddOrder">Sipariş Ekle</a>
                <table id="datatablesSimple">
                   
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th>Müşteri Şirket Adı</th>
                            <th>Çalışan Adı</th>
                            <th>Nakliye Firması</th>
                            <th>Sipariş Tarihi</th>
                            <th>Sipariş Ücreti</th>
                            <th>Alıcı Adı</th>
                            <th>Alıcının Ülkesi</th>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.OrderID</td>
                                <td>@order.Customer.CompanyName</td>
                                <td>@order.Employee.FirstName @order.Employee.LastName</td>
                                <td>@order.ShipVia</td>
                                <td>@order.OrderDate</td>
                                <td>@order.Freight</td>         @*taşıma bedeli*@
                                <td>@order.ShipName</td>
                                <td>@order.ShipCountry</td>

                                @*<td>
                        <a href="/order/delete/@order.OrderID" class="btn btn-xs btn-danger">Delete</a>
                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


